.header {
    position: relative;

    &__logo {
        width: 100px;
        height: 97.22px;
    }

    &__menu {

        span {
            display: block;
            background-color: $megaBlue;
            width: 15px;
            height: 3px;
            margin: 2px 0;
        }

        @mixin atMedium {
            display: none;
        }

        &--desktop {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: #fff;
            width: 100%;
            
            ul {
                list-style: none;
                padding: 0;
                margin: 10px 0 10px 0;

                li {
                    text-align: center;
                    margin-bottom: 7px;
                    a {
                        text-decoration: none;
                        text-transform: uppercase;
                        letter-spacing: .1rem;
                        font-size: .9rem;
                        font-style: normal;
                        font-weight: 600;
                        color: $megaBlue;
                        display: inline-block;
                        padding: 0 1rem;
                    }
                }
            }
        }
    }
}